################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MovieRatingPredictor/bin
/MovieRatingPredictor/obj
